.Home {
    display: flex;
    flex-wrap: wrap;
}

.Home .Card {
    width: 100%;
}

@media only screen and (min-width: 512px) {
    .Home {
        margin: 25px 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .Home {
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .Home .home-main {
        margin-right: 20px;
        padding-top: 0 !important;
    }

    .Home .home-activity {
        flex-grow: 1;
    }
}
