.RecipeSearch {
    position: relative;
    background: #fffffe;
}

.RecipeSearch .loading {
    opacity: 0.2;
}

.RecipeSearch .SearchBar {
    padding: 5px 10px;
    margin: 0 10px;
}

.RecipeSearch > button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 16px;
}
