.RecipeList {
    display: flex;
}

.search-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-height: calc(100vh - 110px);
    overflow-y: scroll;
}

.info-wrapper {
    display: none;
}

@media only screen and (min-width: 512px) {
    .search-wrapper {
        min-width: 512px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .RecipeList .search-wrapper {
        margin: 20px;
    }

    .RecipeList .info-wrapper {
        display: block;
        margin-top: 20px;
        margin-right: 20px;
        flex-grow: 1;
        max-height: calc(100vh - 90px);
        overflow-y: scroll;
    }
}

