.ListDetails .Description {
    margin-bottom: 20px;
}

.ListDetails .list-owner {
    display: flex;
}

.ListDetails .list-owner img {
    margin-right: 10px;
}

.ListDetails .list-count {
    margin: 10px 0 20px 0;
    color: #72757a;
}
