body {
    font-family: 'Roboto script=all rev=1', sans-serif;
    background: #fff;
}

@media only screen and (min-width: 575px) {
    body {
        background: #f1f5f8;
    }
}

input:focus {outline:0;}
button:focus {outline:0;}

.bump:hover, .bump:focus {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.title {
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

a {
    text-decoration: none;
}

.item {
    border-color: #ddd;
    position: relative;
    z-index: 2;
    display: block;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -1px;
    padding: 16px;
    border-top-width: 1px;
    border-style: solid;
    font-size: 16px;
}

a {
    color: #382b5f;
}

a:visited {
    color: #382b5f;
}

a.text-white {
    color: #fff;
}

.quantities span:not(:first-child)::before {
    content: "•";
    font-weight: bold;
    line-height: 14px;
    vertical-align: middle;
    margin-right: 7px;
}

.width-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.min-img {
    min-width: 40px;
}
