a {
    text-decoration: none;
}

.item {
    border-color: #ddd;
    position: relative;
    z-index: 2;
    display: block;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

a {
    color: #382b5f;
}

a:visited {
    color: #382b5f;
}

a.text-white {
    color: #fff;
}
