<div *ngIf="user">
    <h1>Liquor Cabinet</h1>
    <div class="flex items-center border-b border-b-2 border-teal py-2">
        <ng2-completer
            [(ngModel)]="ingredient"
            [datasource]="ingredients"
            [minSearchLength]="0"
            [clearSelected]="true"
            [clearUnselected]="true"
            [inputClass]="'appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none'"
            class="w-full"
            (selected)="addIngredient($event)"
            placeholder="Add">
        </ng2-completer>
    </div>

    <div class="py-6 text-center text-grey" *ngIf="user.ingredient_set.length === 0">
        Nothing here yet!
    </div>
    <div class="list mt-6">
        <div class="item clearfix" *ngFor="let i of user.ingredient_set">
            {{ i }} <span class="text-grey float-right" (click)="removeIngredient(i)">&times;</span>
        </div>
    </div>
</div>
