<div class="width-container" *ngIf="user">
    <h1>Liquor Cabinet</h1>
    <div class="flex items-center border-b border-b-2 border-teal py-2 w-full">
        <autocomplete
            [(ngModel)]="ingredient"
            [dataSource]="ingredients"
            [inputClass]="'appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none'"
            [clearOnSelect]="true"
            [placeholder]="Add"
            [displayCount]="10"
            (selected)="addIngredient($event)"
            class="w-full">
        </autocomplete>
    </div>

    <div class="py-6 text-center text-grey" *ngIf="user.ingredient_set.length === 0">
        Nothing here yet!
    </div>
    <div class="list mt-6">
        <div class="item clearfix" *ngFor="let i of user.ingredient_set">
            {{ i }} <span class="text-grey float-right" (click)="removeIngredient(i)">&times;</span>
        </div>
    </div>
</div>
