<div class="w-full mx-auto max-w-xs">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="forms" for="username">
        Username
      </label>
      <input class="bg-white shadow forms" id="username" type="text" name="username" [(ngModel)]="username" required autofocus>
    </div>
    <div class="mb-6">
      <label class="forms" for="password">
        Password
      </label>
      <input class="forms bg-white shadow" id="password" type="password" name="password" [(ngModel)]="password" required>
      <div class="mt-3 text-gray-200">
          <a class="text-gray-500 text-xs" href="/accounts/password_reset/">Forgot password?</a>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <button class="btn btn-primary" type="submit" (click)="submit()">
        Sign In
      </button>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    ©2018 CT Publishing
  </p>
</div>
