<div *ngIf="recipe">
    <h1>{{ recipe.name }}</h1>
    <div><i>{{ recipe.source }}</i></div>
    <table class="m-6">
        <tr *ngFor="let q of recipe.quantities">
            <td style="text-align: right" class="mr-2">{{ q.amount }} {{ units[q.unit] }}</td>
            <td class="pl-2"> - {{ q.ingredient }}</td>
        </tr>
    </table>
    <div class="mb-6 text-sm">{{ recipe.directions }}</div>

    <div *ngIf="recipe.description" class="bg-grey-lighter -mx-12 px-12 py-6">{{ recipe.description }}</div>

    <div class="mt-6">
    <a routerLink="/recipes/{{ recipe.id }}/edit" class="bg-transparent hover:bg-purple text-purple-dark font-semibold hover:text-white py-2 px-4 border border-purple hover:border-transparent rounded">
        Edit
    </a>
    </div>
</div>
