<div *ngIf="recipe">
    <h1 class="title">{{ recipe.name }}</h1>
    <div class="mt-2 text-grey-darker"><i>{{ recipe.source }}</i></div>
    <table class="my-6 mx-2">
        <tr *ngFor="let q of showQuantities" class="mb-3">
            <td style="text-align: right; padding: 3px 8px 3px 0; border-right: 1px solid #999" class="mr-2">
                <span class="font-bold" [innerHTML]="q.amount | fractions"></span>
                <span class="text-grey-darker text-s">&nbsp;{{ units[q.unit] }}</span>
            </td>
            <td class="align-middle leading-loose" style="padding: 0 0 0 8px;">{{ q.ingredient }}</td>
        </tr>
    </table>
    <div class="mb-8 text-grey-darker">{{ recipe.directions }}</div>

    <div style="min-height: 30px" class="mb-6">
    <div *ngIf="!editingTags">
        <a *ngFor="let tag of recipe.tags" routerLink="/recipes" [queryParams]="{tags: tag}" class="mr-2 rounded-full mr-2 mt-1 py-1 px-2 text-white bg-purple-light text-sm">
            {{ tag }}
        </a>
        <span *ngIf="canEdit" class="text-grey text-sm" (click)="editingTags = true">
            (edit tags)
        </span>
        &nbsp;
    </div>
    <div class="flex w-full" *ngIf="editingTags">
        <tag-edit [tags]="recipe.tags" [autoFocus]="true" (output)="updateTags($event)"></tag-edit>
        <button class="text-purple-dark hover:text-purple-darkest ml-2 no-bump text-sm" (click)="saveTags()">Save</button>
        <button class="text-grey text-sm hover:text-grey-dark ml-2 no-bump" (click)="cancelTags()">&times;</button>
    </div>
    </div>

    <div *ngIf="recipe.description" class="bg-grey-lighter -mx-4 md:-mx-1 px-4 py-6">{{ recipe.description }}</div>

    <div *ngIf="user" class="mt-6">
        <button *ngIf="favorites" class="mr-2 -mt-2 bg-transparent font-semibold py-2 px-4 border border-purple-dark rounded float-right"
            [ngClass]="{
                'bg-purple-dark text-white': userFavorite,
                'text-purple-dark': !userFavorite}"
            (click)="toggleFavorite()">
            <fa-icon [icon]="faHeart"></fa-icon>
        </button>

        <a *ngIf="canEdit" routerLink="/recipes/{{ recipe.id }}/edit" class="bg-transparent hover:bg-purple-dark text-purple-dark font-semibold hover:text-white py-2 px-4 border border-purple-dark hover:border-transparent rounded bump">
            Edit
        </a>
    </div>

    <div class="mt-12" *ngIf="canComment">
        <textarea class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey" id="text" name="text" [(ngModel)]="commentText"></textarea>
        <p class="text-grey-dark text-xs italic">Have you made this?  Tell us what you think!</p>

        <button class="bg-purple-dark hover:bg-purple-darker text-white font-bold py-2 px-4 rounded mb-6 mt-3 focus:bg-purple-darker" (click)="addComment()">
            Post
        </button>
    </div>

    <activity-feed
        *ngIf="comments"
        [comments]="comments"
        [favorites]="favorites">
    </activity-feed>
</div>
