<div *ngIf="recipe" class="bg-white sm:shadow sm:p-10">
    <a *ngIf="canEdit && showEdit" routerLink="/recipes/{{ recipe.slug }}/edit" class="float-right text-2xl md:text-3xl mt-1" style="color: #794acf">
        <fa-icon [icon]="faEdit"></fa-icon>
    </a>

    <h1 class="title title-size">{{ recipe.name }}</h1>
    <div class="mt-2 text-gray-800"><i>{{ recipe.source }}</i></div>
    <table class="my-6 mx-2">
        <tr *ngFor="let q of showQuantities">
            <td class="align-bottom" style="text-align: right; padding: 5px 8px 5px 0; border-right: 1px solid #999; min-width: 62px" class="mr-2">
                <span class="font-bold" [innerHTML]="q.amount | fractions"></span>
                <span class="text-gray-800 text-s">&nbsp;{{ q.unit }}</span>
            </td>
            <td class="align-bottom" style="padding: 10px 0 10px 8px;">{{ q.ingredient }}</td>
        </tr>
    </table>
    <div class="mb-8 text-gray-800 whitespace-pre-wrap">{{ recipe.directions }}</div>

    <div class="mb-6">
    <div *ngIf="!editingTags">
        <a *ngFor="let tag of recipe.tags" routerLink="/recipes" [queryParams]="{search: 'tags = ' + tag}" class="mr-2 rounded-full mr-2 mt-1 py-1 px-2 text-white bg-purple-400 text-sm">
            {{ tag }}
        </a>
        <span *ngIf="canEdit" class="text-gray-500 text-sm" (click)="editingTags = true">
            (edit tags)
        </span>
        &nbsp;
    </div>
    <div class="flex w-full" *ngIf="editingTags">
        <tag-edit [tags]="recipe.tags" [autoFocus]="true" (output)="updateTags($event)"></tag-edit>
        <button class="text-purple-600 hover:text-purple-900 ml-2 no-bump text-sm" (click)="saveTags()">Save</button>
        <button class="text-gray-500 text-sm hover:text-gray-600 ml-2 no-bump" (click)="cancelTags()">&times;</button>
    </div>
    </div>

    <div *ngIf="recipe.description" class="whitespace-pre-wrap bg-gray-200 -mx-4 md:-mx-1 px-4 py-6">{{ recipe.description }}</div>

    <div *ngIf="lists" class="mt-12 pb-10 border-b border-gray-400">
        <p class="w-full mb-4 block uppercase tracking-wide font-bold text-gray-800 text-center">Lists</p>
        <div *ngIf="addedLists().length === 0" class="text-sm text-gray-600 leading-normal">
            Not in any of your lists yet.
        </div>
        <ul *ngIf="addedLists().length" class="lists pl-0 text-gray-500 text-sm leading-normal">
            <li *ngFor="let list of addedLists(); let i = index" style="color: #888">
                <a href="/users/{{ user.username }}/lists/{{ list.id }}"
                   style="color: #9561e2">
                    {{ list.name }}</a></li>
        </ul>
        <div>
        <button (click)="toggleDrop($event)" class="mt-3 bg-transparent hover:bg-purple-600 text-purple-600 hover:text-white py-1 px-2 border border-purple-600 hover:border-transparent rounded bump text-sm">Add to Lists</button>
        </div>
    </div>
    <p class="w-full mt-12 mb-6 block uppercase tracking-wide font-bold text-gray-800 text-center">Comments</p>

    <div *ngIf="canComment">
        <textarea class="forms mb-3" id="text" name="text" [(ngModel)]="commentText"></textarea>
        <p class="text-gray-600 text-xs italic">Have you made this?  Tell us what you think!</p>

        <button class="btn btn-primary mb-6 mt-3" (click)="addComment()">
            Post
        </button>
    </div>

    <activity-feed
        *ngIf="comments"
        [comments]="comments"
        [listRecipes]="listRecipes">
    </activity-feed>
</div>

<!-- List modal -->
<div class="modal border border-gray-200" (click)="closeDrop()" [ngClass]="{'show': showModal}">

  <!-- Modal content -->
  <div class="modal-content rounded" (click)="$event.stopPropagation()">
    <div class="modal-header px-4 py-4">
      <button class="float-right text-purple-400 cursor-pointer"
            (click)="closeDrop()">Done</button>
      <p class="text-xl font-bold">Add to Lists</p>
    </div>
    <div class="modal-body border-b border-1 border-gray-200">
        <div
            *ngFor="let list of lists"
            (click)="addToList($event, list)"
            class="py-4 border-t border-gray-400 cursor-pointer text-gray-900">
            <span class="px-4">
                <fa-icon class="text-teal-500 mr-1" *ngIf="addedToList(list)" [icon]="faCheckSquare"></fa-icon>
                <fa-icon class="text-gray-600 mr-1" *ngIf="!addedToList(list)" [icon]="faSquare"></fa-icon>
                {{ list.name }}
            </span>
        </div>
    </div>
    <div class="modal-footer px-4 py-4 align-middle" *ngIf="user">
        <a class="text-teal" routerLink="/users/{{ user.username }}/lists/new" [queryParams]="{'recipes': recipe.id}" class="text-sm">
            + Create a new list with this recipe
        </a>
    </div>
  </div>

</div>
