/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.show {
    display: block !important;
}

.lists {
  display: inline;
  list-style: none;
}

.lists li {
  display: inline;
}

.lists li:after {
  content: "•";
  padding-left: 10px;
  padding-right: 10px;
}

.lists li:first-child {
  padding-right: 0;
}

.lists li:last-child {
  padding-left: 0;
}

.lists li:last-child:after {
    content: "";
}

/* Modal Content */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  width: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  height: 100%;
  width: 100%;
}

.modal-body {
  height: 330px;
  width: 100%;
  overflow-y: scroll;
}

.modal-footer {
  width: 100%;
}

.modal-footer a {
  /* Teal */
  color: #4dc0b5;
}

/* Add Animation */
@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
