.TagSet {
    display: flex;
}

.TagSet .FormWrapper {
    margin-bottom: 0;
    /*
    background-color: #fffffe;
    border-bottom: 2px solid #d1d1e9;
    */
}

.TagSet .AutoComplete {
    width: 100px;
    margin-right: 10px;
}
