<div class="width-container bg-white sm:shadow sm:p-10 w-full" *ngIf="!loading">
<form class="w-full mb-12">
  <div class="flex flex-wrap -mx-3 mb-1">
    <div class="w-full md:w-1/2 px-3 mb-2">
        <img style="max-height: 128px" class="flex-no-shrink rounded-full mr-4 center-crop"
             [src]="imageSrc || user.image || '/static/img/generic.png'">
        <div class="mt-5">
            <label class="btn btn-primary" for="avatar">
                Select an Image
            </label>
            <input type="file" id="avatar" name="avatar" class="inputfile"
                   accept="image/x-png,image/jpeg"
                   (change)="onFileChanged($event)">
        </div>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-2">
        <div class="mb-5">
          <label class="forms" for="firstname">
            First Name
          </label>
          <input class="forms" id="firstname" type="text" name="firstname" [(ngModel)]="user.first_name">
        </div>

        <div class="mb-5">
          <label class="forms" for="lastname">
            Last Name
          </label>
          <input class="forms" id="lastname" type="text" name="lastname" [(ngModel)]="user.last_name">
        </div>

        <div class="mb-2">
          <label class="forms" for="email">
            Email
          </label>
          <input class="forms" id="email" type="email" name="email" [(ngModel)]="user.email">
        </div>

    </div>
  </div>

  <button class="btn btn-primary mb-6 float-right" (click)="save()" [disabled]="loading">
    Save
  </button>
</form>
<a class="btn btn-outline-primary"
   href="/accounts/password_change/">Change your password
</a>
</div>
