<div class="width-container bg-white sm:shadow sm:p-10 w-full">
<form class="w-full max-w-md mb-12" *ngIf="!loading">
  <div class="flex flex-wrap -mx-3 mb-1">
    <div class="w-1/2 px-3 mb-2">
      <label class="forms" for="firstname">
        First Name
      </label>
      <input class="forms" id="firstname" type="text" name="firstname" [(ngModel)]="user.first_name">
    </div>

    <div class="w-1/2 px-3">
      <label class="forms" for="lastname">
        Last Name
      </label>
      <input class="forms" id="lastname" type="text" name="lastname" [(ngModel)]="user.last_name">
    </div>
  </div>

  <button class="btn btn-primary mb-6 float-right" (click)="save()" [disabled]="loading">
    Save
  </button>
</form>
</div>
