.RecipeCard {
    padding: 20px;
    border-bottom: 1px solid #d1d1e9;
    cursor: pointer;
}

.RecipeCard .recipe-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.RecipeCard .recipe-ingredient span {
    color: #72757a;
    line-height: 1.5;
    margin-right: 7px;
}

.RecipeCard .recipe-ingredient span:not(:first-child)::before {
    content: '•';
    vertical-align: middle;
    margin-right: 7px;
}

.RecipeCard .recipe-tags {
    margin-top: 10px;
}

.RecipeCard .recipe-tags span {
    border-radius: 1em;
    padding: 3px 6px;
    font-size: 0.75em;
    background-color: #d1d1e9;
}

.RecipeCard .comment-count {
    float: right;
    border-radius: 2em;
    font-size: 1em;
    margin-top: -5px;
    padding: 5px 10px;
    background-color: #d1d1e9;
    color: #fffffe;
}
