<div>
    <p class="mt-12 mb-3 text-lg text-grey-darker text-center">{{ title }}</p>
    <div class="mt-3 bg-grey-lighter -mx-4 px-4 py-3 mt-3">
        <div class="mt-6 mb-6 md:mx-5 flex bg-white p-5" *ngFor="let a of activityFeed">
            <div class="mr-4" *ngIf="includeImage">
                <a routerLink="/users/{{ a.user_id }}">
                    <img class="min-img w-10 h-10 rounded-full" src="https://www.gravatar.com/avatar/{{ a.user_hash }}.jpg?d=mp&size=64">
                </a>
            </div>
            <div class="text-sm">
                <p class="leading-none mb-1" class="text-grey-dark">
                    <span class="text-black">
                        <a routerLink="/users/{{ a.user_id }}">{{ a.name }}</a>
                    </span>
                    <span *ngIf="a.type === 'favorite'">
                        <fa-icon class="ml-1 text-purple-dark" [icon]="faHeart">
                        </fa-icon>
                        <span *ngIf="recipeTitle">&nbsp;a recipe</span>
                        <span *ngIf="!recipeTitle">&nbsp;this recipe</span>
                    </span>
                    <span *ngIf="a.type === 'recipe'"> added a recipe </span>
                    <span *ngIf="a.type === 'comment' && recipeTitle"> made a comment </span>
                    <span *ngIf="a.type === 'comment' && user_id === a.user_id" class="text-grey-light">
                        <a routerLink="/comments/{{ a.id }}">&nbsp;(edit)</a>
                    </span>
                </p>
                <p class="mb-3 text-grey"> {{ a.when | amTimeAgo }}</p>

                <p class="font-bold" *ngIf="recipeTitle">
                    <a routerLink="/recipes/{{ a.recipe.id }}">{{ a.recipe.name }}</a>
                </p>
                <div *ngIf="recipeTitle && (a.type === 'recipe' || a.type === 'favorite')" class="text-grey-darker quantities text-sm">
                    <span *ngFor="let ingredient of a.recipe.ingredients" class="mr-2">
                        {{ ingredient }}
                    </span>
                </div>
                <div *ngIf="a.type === 'comment'"
                    class="text-grey-darker"
                    style="white-space:pre-wrap;">{{ (a.text.length>110 && recipeTitle)? (a.text | slice:0:110)+' ...':(a.text) }}</div>

            </div>
        </div>
        <div class="text-center text-sm mt-6 mb-6">
            <a *ngIf="activityFeed.length < allActivities.length" class="bg-transparent hover:bg-purple-dark text-purple-darker font-semibold hover:text-white py-2 px-4 border border-purple-darker hover:border-transparent rounded" (click)="loadMore()">Load more</a>
        </div>
    </div>
</div>
