.Home {
    display: flex;
    flex-wrap: wrap;
}

.Home > .Card {
    width: 100%;
}

.Home .NavGroup {
    margin-bottom: 20px;
}

.Home .activity-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* I don't understand this and hate it, but mobile views have a y-scroll otherwise */
@media only screen and (max-width: 512px) {
    .Home {
        padding: 0 20px;
    }
    .Home > .Card {
        padding: 20px 0;
    }
}

@media only screen and (min-width: 1024px) {
    .Home {
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .Home .home-main {
        margin-right: 20px;
        padding-top: 0 !important;
    }

    .Home .home-activity {
        flex-grow: 1;
    }
}
