<div class="flex">
    <div class="mr-4" *ngIf="includeImage">
        <a routerLink="/users/{{ comment.user.id }}">
            <img class="min-img w-10 h-10 rounded-full" src="https://www.gravatar.com/avatar/{{ comment.user.user_hash }}.jpg?d=mp&size=64">
        </a>
    </div>
    <div class="text-sm">

        <p class="text-black font-bold leading-none mb-1">
            <span *ngIf="!recipeTitle">
                <a routerLink="/users/{{ comment.user.id }}">
                    {{ comment.user.first_name }} {{ comment.user.last_name }}
                </a>
            </span>
            <span *ngIf="recipeTitle"><a routerLink="/recipes/{{ comment.recipe.id }}">
                    {{ comment.recipe.name }}
                </a></span>
            <span class="text-grey-light" *ngIf="comment.user.id === user.id">
                <a routerLink="/comments/{{ comment.id }}">&#9998;</a>
            </span>
        </p>
        <p class="text-black" style="white-space:pre-wrap;">{{ comment.text }}</p>
        <p class="mt-1 text-grey-light">{{ comment.updated | amTimeAgo }}</p>
    </div>
</div>
