.SearchBar {
    position: relative;
    padding: 5px 0;
}

.SearchBar .FormWrapper .Input {
    background-color: var(--content-background-forms);
}

.SearchBar .FormWrapper .Input:focus {
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.SearchBar .FormWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.SearchBar > button.filters {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 16px;
    padding: 10px 5px;
}

.SearchBar > button.help {
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 16px;
    padding: 10px 5px;
}

.SearchBar .SearchHelp .help-body {
    padding: 0 20px;
}

.SearchBar .SearchHelp .help-body .SectionTitle {
    margin-top: 50px;
}
