.SearchBar {
    padding: 5px 0;
}

.SearchBar .FormWrapper .Input {
    background-color: var(--content-background-forms);
}

.SearchBar .FormWrapper .Input:focus {
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.SearchBar .FormWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}
