.quantities span:not(:first-child)::before {
    font-size: 30px;
    margin-right: 7px;
}

.loading-color {
    opacity: 0.4;
    -webkit-transition: opacity 0.2s;
}

@media only screen and (min-width: 1060px) {
    .recipe-sidebar {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        float: left;
        position: fixed;
        z-index: -1;
        width: 42%;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 70px;
        bottom: 0;
    }
}

.detail-view {
    width: 52%;
    margin-right: 30px;
    float: right;
}

.selected {
    background-color: #F3EBFF;
}
