.ActivityRecipeCardRow .activity-ingredients > span {
    margin-right: 0.5rem;
}

.ActivityRecipeCardRow .activity-ingredients > span:not(:first-child):before {
    content: "•";
    font-weight: 700;
    line-height: 14px;
    vertical-align: middle;
    margin-right: 7px;
}
