<div>
    <div class="flex flex-wrap">
        <div class="mb-6 w-1/2 md:w-1/4">
            <a class="text-xl text-center" routerLink="/recipes">
                <div><fa-icon [icon]="faGlassMartiniAlt"></fa-icon></div>
                <div>Recipes</div>
            </a>
        </div>

        <div class="mb-6 w-1/2 md:w-1/4">
            <a class="text-xl text-center" routerLink="/cabinet">
                <div><fa-icon [icon]="faWineBottle"></fa-icon></div>
                <div>Liquor Cabinet</div>
            </a>
        </div>

        <div class="mb-6 w-1/2 md:w-1/4">
            <a class="text-xl text-center" routerLink="/new">
                <div><fa-icon [icon]="faPlus"></fa-icon></div>
                <div>New</div>
            </a>
        </div>

        <div class="mb-6 w-1/2 md:w-1/4">
            <a class="text-xl text-center" routerLink="/random">
                <div><fa-icon [icon]="faRandom"></fa-icon></div>
                <div>Random</div>
            </a>
        </div>
    </div>


    <p class="mt-12 mb-3 text-lg text-center">Activity Feed</p>
    <div *ngIf="!activityFeed" class="text-sm text-center text-grey-light">loading ...</div>
    <div *ngIf="activityFeed" class="mt-3 bg-grey-lighter -mx-4 px-4 py-3 mt-3">
        <div class="mt-6 flex bg-white p-3" *ngFor="let a of activityFeed">
            <img class="w-10 h-10 rounded-full mr-4" src="https://www.gravatar.com/avatar/{{ a.user_hash }}.jpg?d=mp&size=64">
            <div class="text-sm">
                <p class="leading-none mb-1" class="text-grey-dark">
                    <span class="text-black">{{ a.name }}</span>
                    <span *ngIf="a.type === 'recipe'"> added a recipe </span>
                    <span *ngIf="a.type === 'comment'"> made a comment </span>
                </p>
                <p class="text-grey"> {{ a.when | amTimeAgo }}</p>

                <p class="mt-3 font-bold">
                    <a routerLink="/recipes/{{ a.recipe.id }}">{{ a.recipe.name }}</a>
                </p>
                <div *ngIf="a.type === 'recipe'" class="text-grey-dark quantities text-xs">
                    <span *ngFor="let q of a.recipe.quantities" class="mr-2">
                        {{ q.ingredient }}
                    </span>
                </div>
                <div *ngIf="a.type === 'comment'" class="text-grey-dark text-xs">
                    {{ (a.text.length>120)? (a.text | slice:0:120)+' ...':(a.text) }}
                </div>
            </div>
        </div>
        <div class="text-center text-sm mt-6 mb-6">
            <a *ngIf="activityFeed.length < allActivities.length" class="bg-transparent hover:bg-purple-dark text-purple-darker font-semibold hover:text-white py-2 px-4 border border-purple-darker hover:border-transparent rounded" (click)="loadMore()">Load more</a>
        </div>
    </div>
</div>
