<div class="mb-6">
    <div>
        <a class="text-xl" routerLink="/recipes">All Drink Recipes</a>
    </div>
    <div class="text-grey">Find recipes to make, filtering by name or
        ingredient.</div>
</div>
<div class="mb-6">
    <div>
        <a class="text-xl" routerLink="/cabinet">Your Liquor Cabinet</a>
    </div>
    <div class="text-grey">Create an inventory of what you have in stock so
        you can find great cocktails to try more easily.</div>
</div>

<div class="mb-6">
    <div>
        <a class="text-xl" routerLink="/new">Add a Recipe</a>
    </div>
    <div class="text-grey">Add to the library of intoxication.</div>
</div>

<div class="mb-6">
    <div>
        <a class="text-xl" routerLink="/random">Random Recipe</a>
    </div>
    <div class="text-grey">Try a random cocktail recipe from the list, from
        only what's in your liquor cabinet.</div>
</div>
