<div class="hero-image -mt-10 mb-20 -mx-4">
    <div class="hero-text">
        <p class="title text-5xl">Drink Stash</p>
        <p class="mt-5 text-lg italic tracking-wide font-thin">Bottoms up.</p>
      </div>
</div>

<div class="w-full sm:w-1/2 mb-20 block mx-auto ">
    <div class="flex items-center border-b border-b-2 border-teal py-2">
        <input class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Search the recipes for your next drink" [(ngModel)]="search" (change)="routeToSearch()" id="searchbar">
    </div>
    <p class="px-2 mt-1 text-grey-dark text-xs italic">e.g. cynar, Last Word, or mezcal</p>
</div>

<div>
    <div class="flex flex-wrap w-full">
        <div class="mb-10 w-full sm:w-1/2 xl:w-1/4 px-10">
            <div class="flex flex-wrap items-center justify-center">
                <a class="bg-purple-darker text-white w-24 h-24 rounded-full text-4xl font-semibold flex items-center justify-center shadow-md" routerLink="/recipes">
                    <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                </a>
                <div class="w-full text-center mt-5 text-grey-darker">
                    <p class="text-xl font-bold"><a routerLink="/recipes">Recipes</a></p>
                    <p class="text-sm mt-1 text-grey-dark">
                        Search the cocktail recipes and find something new.
                    </p>
                </div>
            </div>
        </div>

        <div class="mb-10 w-full sm:w-1/2 xl:w-1/4 px-10">
            <div class="flex flex-wrap items-center justify-center">
                <a class="bg-purple-darker text-white w-24 h-24 rounded-full text-4xl font-semibold flex items-center justify-center shadow-md" routerLink="/users/{{ activeUser.user_id }}">
                    <fa-icon [icon]="faBookmark"></fa-icon>
                </a>
                <div class="w-full text-center mt-5 text-grey-darker">
                    <p class="text-xl font-bold">
                        <a routerLink="/new">Build Lists</a></p>
                    <p class="text-sm mt-1 text-grey-dark">
                        Keep track of what you've tried and what you like, or
                        bookmark drinks to try later.</p>
                </div>
            </div>
        </div>

        <div class="mb-10 w-full sm:w-1/2 xl:w-1/4 px-10">
            <div class="flex flex-wrap items-center justify-center">
                <a class="bg-purple-darker text-white w-24 h-24 rounded-full text-4xl font-semibold flex items-center justify-center shadow-md" routerLink="/cabinet">
                    <fa-icon [icon]="faWineBottle"></fa-icon>
                </a>
                <div class="w-full text-center mt-5 text-grey-darker">
                    <p class="text-xl font-bold">
                        <a routerLink="/cabinet">Liquor Cabinet</a></p>
                    <p class="text-sm mt-1 text-grey-dark">
                        Track the liquor, bitters, and ingredients
                        you have on hand.</p>
                </div>
            </div>
        </div>

        <div class="mb-10 w-full sm:w-1/2 xl:w-1/4 content-center px-10">
            <div class="flex flex-wrap items-center justify-center">
                <a class="bg-purple-darker text-white w-24 h-24 rounded-full text-4xl font-semibold flex items-center justify-center shadow-md" routerLink="/random">
                    <fa-icon [icon]="faRandom"></fa-icon>
                </a>
                <div class="w-full text-center mt-5 text-grey-darker">
                    <p class="text-xl font-bold"><a routerLink="/random">Discover</a></p>
                    <p class="text-sm mt-1 text-grey-dark">
                        Get a random cocktail recipe that matches
                        the ingredients listed in your liquor cabinet.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap items-center justify-center sm:mt-12 mt-6">
    <div class="w-full md:w-3/4 xl:w-1/2">
        <activity-feed
            *ngIf="activities"
            [recipes]="activities.recipes.results"
            [comments]="activities.comments.results"
            [recipeTitle]="true"
            [title]="'Activity Feed'"
        ></activity-feed>
    </div>
</div>
