/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/static/assets/drinks-hero.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-title {
    font-family: 'Niconne', cursive;
    font-size: 6rem;
}

.hero-text .heading {
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (min-width: 992px) {
    .hero-image {
      height: 700px;
      background-attachment: fixed;
    }

    .hero-text {
        font-size: 5rem;
    }
}

.mh-140 {
    min-height: 140px;
}
