<div *ngIf="recipe">
    <h1>{{ recipe.name }}</h1>
    <div><i>{{ recipe.source }}</i></div>
    <table class="my-6 mx-2">
        <tr *ngFor="let q of showQuantities">
            <td style="text-align: right" class="mr-2">{{ q.amount }} {{ units[q.unit] }}</td>
            <td class="mx-1">-</td>
            <td>{{ q.ingredient }}</td>
        </tr>
    </table>
    <div class="mb-6 text-sm">{{ recipe.directions }}</div>

    <div *ngIf="recipe.description" class="bg-grey-lighter -mx-4 md:-mx-1 px-4 py-6">{{ recipe.description }}</div>

    <div class="mt-6">
        <button *ngIf="favorites" class="mr-2 -mt-2 bg-transparent font-semibold py-2 px-4 border border-purple-dark rounded float-right"
            [ngClass]="{
                'bg-purple-dark text-white': userFavorite,
                'text-purple-dark': !userFavorite}"
            (click)="toggleFavorite()">
            <fa-icon [icon]="faHeart"></fa-icon>
        </button>

        <a routerLink="/recipes/{{ recipe.id }}/edit" class="bg-transparent hover:bg-purple-dark text-purple-dark font-semibold hover:text-white py-2 px-4 border border-purple-dark hover:border-transparent rounded">
            Edit
        </a>
    </div>

    <div class="mt-12 text-lg" *ngIf="comments">
        Comments
    </div>

    <div class="mt-6" *ngIf="canComment">
        <textarea class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey" id="text" name="text" [(ngModel)]="commentText"></textarea>
        <p class="text-grey-dark text-xs italic">Have you made this?  Tell us what you think!</p>

        <button class="bg-purple-dark hover:bg-purple-darker text-white font-bold py-2 px-4 rounded mb-6 mt-3" (click)="addComment()">
            Post
        </button>
    </div>

    <div *ngIf="comments" class="mb-12">
        <comment *ngFor="let comment of comments" [comment]="comment" [user]="user"></comment>
    </div>
</div>
