.alert {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100000;
}

.container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media only screen and (min-width: 1060px) {
    .container {
        max-width: 100%;
    }
}

.minwidth {
    min-width: 80px;
}

.cursive {
    font-family: cursive;
}

.back {
    font-size: 20px;
}

.text-title a {
    color: #fff;
}

@media (max-width: 320px) {
    .text-title {
        font-size: 1rem;
    }
}

@media (min-width: 321px) {
    .text-title {
        font-size: 1.25rem;
    }
}
