.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    z-index: 10;
    -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
            transition: background-color 100ms linear;
}

.navbar.bg-transparent {
    -webkit-transition: background-color 50ms linear;
        -ms-transition: background-color 50ms linear;
            transition: background-color 50ms linear;
}

.container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

.minwidth {
    min-width: 80px;
}

.alert {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 700px;
}

.cursive {
    font-family: "Libre Baskerville script=all rev=1";
    font-weight: 400;
    font-style: italic;
}

.back {
    font-size: 20px;
}

.text-title a {
    color: #fff;
}

@media (max-width: 320px) {
    .text-title {
        font-size: 1rem;
    }
}

@media (min-width: 321px) {
    .text-title {
        font-size: 1.25rem;
    }
}

/* Menu positioning */
.menu {
    position: absolute;
    top: 55px;
    right: 30px;
    z-index: 100000;
}

/* Links inside the dropdown */
.menu div a {
    text-decoration: none;
    display: block;
}

/* Force white text on hover */
.menu div:hover a {
  color: #fff;
}
