<div class="navbar w-full pin-t pin-l px-4 py-3 font-serif text-white bg-purple-darker">
    <div class="container">
        <ul class="list-reset flex justify-between">
          <li class="mr-3 minwidth">
              <p class="inline-block rounded py-2 px-4" >
                  <span (click)="goBack()" *ngIf="hasHistory()">&#8592;</span>
                  &nbsp;
              </p>
          </li>
          <li class="mr-3 text-xl cursive">
            <p class="inline-block py-2 text-title">{{ title }}</p>
          </li>
          <li class="mr-3 minwidth text-right">
              <a *ngIf="loggedIn" class="text-white text-3xl" routerLink="/settings">&#9776;</a>
          </li>
        </ul>
    </div>
</div>
<div class="mt-24 px-4 container bg-white">
    <router-outlet></router-outlet>
</div>
