<div (click)="closeMenu()">
<div class="navbar w-full pin-t pin-l px-4 py-3 font-serif text-white bg-purple-darker">
    <div class="container">
        <ul class="list-reset flex justify-between">
          <li class="mr-3 minwidth">
              <p class="inline-block rounded py-2 px-4" >
                  <span (click)="goBack()" class="back" *ngIf="hasHistory()">&#8592;</span>
                  &nbsp;
              </p>
          </li>
          <li class="mr-3 text-xl cursive">
            <p class="inline-block py-2 text-title">
                <a routerLink="/">{{ title }}</a>
            </p>
          </li>
          <li class="mr-3 minwidth text-right">
              <button *ngIf="loggedIn && username" class="text-white text-3xl"
                  (click)="toggleMenu($event)">
                  &#9776;
              </button>
              <div class="menu text-left shadow-md bg-white block"
                   *ngIf="showMenu">
                  <div class="w-full py-3 px-4 hover:bg-teal">
                      <a routerLink="/new">Add new recipes</a>
                  </div>

                  <div class="w-full py-3 px-4 hover:bg-teal border-b
                              border-b-2 border-grey">
                      <a routerLink="/users/{{ username }}">Your profile</a>
                  </div>
                  <div class="w-full py-3 px-4 hover:bg-teal">
                      <a (click)="logout()">Sign out</a>
                  </div>
              </div>
          </li>
        </ul>
    </div>
</div>
<div class="mt-24 px-4 container bg-white">
    <div class="mb-12 border-l-4 p-4"
        [ngClass]="{
            'bg-red-lightest border-red text-red-dark': alert.header === 'Error',
            'bg-orange-lightest border-orange text-orange-dark': alert.header === 'Warning'
        }"
        role="alert"
        *ngFor="let alert of alerts; let i = index">
          <a href="#"
             class="float-right text-bold text-grey"
             (click)="dismiss($event, i)">
             &times;</a>
          <p class="font-bold">{{ alert.header }}</p>
          <p>{{ alert.message }}</p>
    </div>
    <router-outlet></router-outlet>
</div>
</div>
