.App {
    font-family: 'Roboto script=all rev=1', sans-serif;
    color: #16161a;
}

.App-header {
    background-color: #553c9a;
    display: flex;
    color: #fffffe;
}

.App .App-header {
    padding: 20px 20px;
}

.App .App-header a {
    color: #fff;
    padding-right: 5px;
    text-decoration: none;
}

.App .App-header a.home-link {
    font-weight: bold;
}
