.App {
    font-family: 'Roboto script=all rev=1', sans-serif;
    background: #fff;
    color: #2b2c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  color: #fff;
}

.App .App-header {
    padding: 10px;
}

.App .App-header a {
    color: #fff;
    padding-right: 5px;
    text-decoration: none;
}

.App .App-header a.home-link {
    font-weight: bold;
}
