.App {
    font-family: 'Roboto script=all rev=1', sans-serif;
    color: #16161a;
    line-height: 1.25;
}

@media only screen and (min-width: 512px) {
    .App .page-container {
        margin-top: 25px;
    }
}
