<div *ngIf="user" class="row w-full">
    <div class="list-detail-view" *ngIf="side_display && list"
         [ngClass]="{'loading-color': listLoading}">
        <list-details [list_id]="list.id" [standalone]="false">
        </list-details>
    </div>
    <div class="list-sidebar">
        <div class="bg-white sm:p-10 sm:shadow">
            <div class="mb-6 content-start">
                <div class="mb-6 text-2xl">
                    {{ user.first_name }} {{ user.last_name }}'s Lists
                </div>
                <a class="bg-purple-600 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded focus:bg-purple-800"
                    *ngIf="activeUser.user_id === user.id"
                    routerLink="/users/{{ activeUser.username }}/lists/new">
                    &#43; New List
                </a>
            </div>
            <div *ngFor="let list of lists" class="item cursor-pointer" (click)="routeList($event, list)">
                <div class="py-4">
                    <div>
                        <a class="font-bold text-xl text-gray-800 mb-2 mr-1">
                            {{ list.name }}
                        </a>
                        <span class="text-gray-600 font-400">
                            ({{ list.recipe_count }}&nbsp;<span [innerHTML]="list.recipe_count === 1 ? 'recipe' : 'recipes'"></span>)
                        </span>
                    </div>
                    <div *ngIf="list.description" class="text-gray-600 text-sm">
                        <p *ngIf="list.description">{{ list.description }}</p>
                    </div>
                    <div class="text-sm text-gray-600 mt-2">{{ list.updated | amTimeAgo }}</div>
                </div>
            </div>
            <div *ngIf="lists.length === 0">
                <p class="mt-3 text-gray-600 text-sm text-center">(No lists here yet!)</p>
            </div>
        </div>
    </div>
</div>
