.loading-color {
    opacity: 0.4;
    -webkit-transition: opacity 0.2s;
}

@media only screen and (min-width: 1060px) {
    .list-sidebar {
        margin-top: -50px;
        padding-top: 76px;
        padding-left: 20px;
        padding-right: 20px;
        float: left;
        position: fixed;
        z-index: -1;
        width: 42%;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 70px;
        bottom: 0;
    }
}

.list-detail-view {
    width: 52%;
    margin-right: 30px;
    float: right;
}


