.RecipeFilters {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3) inset, 0 -5px 5px -5px rgba(0, 0, 0, 0.3) inset;
    padding: 20px;
    background-color: #f5f5f5;
}

.RecipeFilters .FormWrapper {
    margin-bottom: 15px;
}

.RecipeFilters .Forms select.Select {
    background-color: #fffffe;
}

/*
 * Expanding Details Transition
 */

.RecipeSearch .openSection-enter {
  opacity: 0;
  max-height: 0;
}

.RecipeSearch .openSection-enter-active {
  opacity: 1;
  max-height: 252px;
  overflow-y: hidden;
  transition: max-height 200ms ease-in, opacity 300ms ease-in;
}

.RecipeSearch .openSection-exit {
  opacity: 1;
  max-height: 252px;
  /* This prevents there being a jitter at the end. I hate it though. */
  margin-bottom: -40px;
}

.RecipeSearch .openSection-exit-active {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 200ms ease-out, opacity 100ms ease-out;
}

