<div class="flex flex-wrap" *ngIf="user">
    <div class="flex mb-6 flex-wrap content-start w-full lg:w-1/2">
        <div class="flex w-full lg:mb-10">
            <img style="max-height: 128px" class="flex-no-shrink rounded-full mr-4"
                 src="https://www.gravatar.com/avatar/{{ user.user_hash }}.jpg?d=mp&size=128">

            <div class="w-full mx-3">
                <div class="mb-6">
                    <p class="text-2xl">{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="text-grey-dark mt-1">Added {{ user.recipe_count }}
                    <span [innerHTML]="user.recipe_count === 1 ? 'recipe' : 'recipes'"></span>.</p>
                    <p class="text-grey-dark">Made {{ user.comment_count }}
                    <span [innerHTML]="user.comment_count === 1 ? 'comment' : 'comments'"></span>.</p>
                </div>
            </div>
        </div>

        <div class="w-full">
            <p class="w-full mt-12 mb-2 lg:mt-0 block uppercase tracking-wide font-bold text-grey-darker text-center">Lists</p>
            <div *ngIf="lists">
                <div *ngFor="let list of lists" class="bg-white px-4 py-3 mb-3">
                    <div class="py-2">
                        <div>
                            <a routerLink="/users/{{ user.username }}/lists/{{ list.id }}"
                               class="font-bold text-xl text-grey-darker mb-2 mr-1">
                               {{ list.name }}
                            </a>
                            <span class="text-grey-dark font-light">({{ list.recipe_count }}&nbsp;<span [innerHTML]="list.recipe_count === 1 ? 'recipe' : 'recipes'"></span>)</span>
                        </div>
                        <div class="text-grey-dark text-sm">
                            <p *ngIf="list.description">{{ list.description }}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="lists.length === 0">
                    <p class="mt-3 text-grey-dark text-sm text-center">(No lists here yet!)</p>
                </div>
            </div>
            <div class="text-center text-sm mt-6 mb-6">

                <a routerLink="/users/{{ user.username }}/lists" class="bg-transparent hover:bg-purple-dark text-purple-darker font-semibold hover:text-white py-2 px-4 border border-purple-darker hover:border-transparent rounded">All lists</a>
            </div>
        </div>
    </div>

    <div class="w-full lg:w-1/2">
        <activity-feed
            *ngIf="comments"
            [title]="'Activity'"
            [comments]="comments"
            [recipeTitle]="true"
        ></activity-feed>
    </div>
</div>
