<div class="width-container" *ngIf="user">
    <div class="flex">
        <img style="max-height: 128px" class="flex-no-shrink rounded-full mr-4" src="https://www.gravatar.com/avatar/{{ user.user_hash }}.jpg?d=mp&size=128">

        <div class="ml-3">
            <div class="mb-6">
                <p class="text-xl">{{ user.first_name }} {{ user.last_name }}</p>
                <div *ngIf="user.id === activeUser.id" class="mt-3">
                    <p *ngIf="activeUser.is_staff" class="text-grey">
                        Log into the <a href="/admin/">admin portal</a> to manage the site.
                    </p>
                </div>
            </div>
            <button *ngIf="user.id === activeUser.id"
                    class="
                        text-grey text-xs bg-transparent
                        font-semibold py-2 px-4
                        border border-grey-dark rounded"
                    (click)="logout()">
                    Log out
            </button>
        </div>
    </div>

    <activity-feed
        *ngIf="comments"
        [title]="'Activity'"
        [comments]="comments"
        [favorites]="favorites"
        [recipeTitle]="true"
        [includeImage]="false"
    ></activity-feed>
</div>
