<div class="width-container bg-white sm:shadow sm:p-10" *ngIf="!loading">
<form class="width-container w-full max-w-md">
  <div class="flex flex-wrap -mx-3 mb-1">
    <div class="w-full md:w-1/2 px-3 mb-2">
      <label class="forms mb-2" for="name">
        Name
      </label>
      <input class="forms mb-3" id="name" type="text" name="name" [(ngModel)]="recipe.name" (change)="nameChange(recipe.name)" [ngClass]="{'border-red': errors && errors.name}">
      <p *ngIf="errors && errors.name" class="text-red-500 text-xs italic">{{ errors.name }}</p>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-3">
      <label class="forms mb-2" for="name">
        Source
      </label>
      <input class="forms mb-3" id="name" type="text" name="source" [(ngModel)]="recipe.source">
    </div>
  </div>


  <div class="flex flex-wrap -mx-3 mb-1">
    <div class="w-full px-3">
      <label class="forms mb-2">
        Ingredients
      </label>
    </div>
  </div>
  <div class="mb-6">
      <div class="flex" *ngFor="let q of recipe.quantities">
        <div class="w-1/5 mb-6">
             <input class="forms" [(ngModel)]="q.amount" id="amount-{{q.name}}" name="amount-{{q.name}}" [ngClass]="{'border-red': errors[q.name]}">
            <p *ngIf="errors[q.name]" class="text-red-500 text-xs italic">{{ errors[q.name] }}</p>
        </div>

        <div class="w-1/5 px-2 mb-6">
            <select class="forms" [(ngModel)]="q.unit" name="unit-{{q.name}}">
                <option *ngFor="let u of units" value="{{ u }}">{{ u }}</option>
            </select>
        </div>
        <div class="w-3/5 mb-6">
            <div class="flex">
                <autocomplete
                    [(ngModel)]="q.ingredient"
                    [dataSource]="ingredients"
                    [inputClass]="'forms'"
                    name="ingredient-{{q.name}}"
                    class="w-5/6">
                </autocomplete>
             <p class="py-3 px-2 pl-4 w-1/6 text-gray-500 cursor-pointer" (click)="removeQuantity(q.name)"><fa-icon [icon]="faTimes"></fa-icon></p>
            </div>
        </div>
  </div>
  <button class="bg-transparent hover:bg-purple-600 text-purple-800 font-semibold hover:text-white py-2 px-4 border border-purple-800 hover:border-transparent rounded mb-4 bump focus:bg-purple-600 focus:text-white" (click)="addQuantity()">
    &#x2b;
  </button>

  </div>

  <div class="flex flex-wrap -mx-3 mb-12">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-800 text-xs font-bold mb-2" for="directions">
        Directions
      </label>
      <textarea class="forms mb-3" id="directions" name="directions" [(ngModel)]="recipe.directions"></textarea>
      <p class="text-gray-600 text-xs italic">Shaken or stirred? Glassware? Garnish?</p>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-12">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-800 text-xs font-bold mb-2" for="tag-add">
        Tags
      </label>
      <tag-edit [tags]="recipe.tags" (output)="updateTags($event)"></tag-edit>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-12">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-800 text-xs font-bold mb-2" for="directions">
        Description
      </label>
      <textarea class="forms mb-3" id="directions" name="description" [(ngModel)]="recipe.description"></textarea>
      <p class="text-gray-600 text-xs italic">Tasting notes, cocktail type, whatever you want.</p>
    </div>
  </div>

</form>

<div *ngIf="recipe.id">
    <button class="btn btn-outline-danger mb-6" (click)="delete()">
        Delete
    </button>

    <button class="btn btn-primary float-right" (click)="save()">
        Save
    </button>
</div>

<div *ngIf="!recipe.id">
    <button class="btn btn-primary mb-6" (click)="save()">
        Save
    </button>

    <button class="btn btn-primary float-right" (click)="save(true)">
        &#43; Save and New
    </button>
</div>
</div>
